@import "reset";
@import "grid";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


:root{
  background-color: #ffdc83;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  text-align: center;
}
#app{
  .logo{
    width: 50%;
    position: relative;
    top: 1vh;
    margin: 0 auto;
  }
  .body-container{
    margin: 0 auto;
    width: 60%;
    height:60vh;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0%, 38% 0, 44% 18%, 100% 18%, 100% 100%, 0 100%);
    position: relative;
    bottom: 3vh;
    z-index: -10;
    p{
      margin: 25px;
      margin-top: 10vh;
      height: 15vh;
      padding: 20px;
      font-size: 20px;
      position: relative;
      top: 5vh;
      line-height: 1.5rem;
      text-align: left;
    }
    .center{
      width: 50%;
      text-align: left;
      align-self: center;
      justify-content: center;
      .react-icons{
        width: 3vw;
        height: 5vh;
      }
      li{
        border-bottom: 1px solid black;
      }
    }
  }
  


}
.beer-recipe,
.Beer-Recipes,
.lacto-recipe,
.LactoFerments,
.newLactofermentForm,
.newbeerForm,
.lactofermentEditForm,
.beerEditForm{
  clip-path: polygon(0 0%, 38% 0, 44% 10%, 100% 10%, 100% 100%, 0 100%);
  background-color: whitesmoke;
  margin: 20px;
  margin-bottom: 20vh;
  padding: 20px;
  z-index: -100;
  form{
    position: relative;
    top: 5vh;
    margin-bottom: 20vh;
  }
  
}

.NavBar {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: rgb(51, 204, 153);
    padding: 5px;
    z-index: 300;
    a{
      // color: rgb(255, 213, 107);
      color: rgb(223, 10, 10);
      // width: 20vw;
      // border: 1px solid black;
    }
    .react-icons{
      height: 10vh;
      width: 5vw;
    }
  }

////////// List show pages

  .LactoFerments, .Beer-Recipes {
    min-height: 120vh;

    .list-container{
      position: relative;
      top: 10vh;
      margin-bottom: 20vh;
      ul{
        font-size: 1.3rem;
        margin: 10px 0px 35px 35px ;
        line-height: 30px;
        list-style-type: none;
        width: 50vw;
        text-align: left;
      }
        a{
          color:rgb(32, 130, 97);
          margin:5px;
        }
        a:visited{
          color:rgb(32, 130, 97);
        }
      }
      h1{
      text-align: left;
      position: relative;
      top: -60px;
      font-size: 30px;
      width: 30%;
    }
    }
   
      
//////// New and Edit forms

  .newLactofermentForm,
  .newbeerForm,
  .lactofermentEditForm,
  .beerEditForm{

    .field-container{
      border: 2px solid black;
    }
    form{
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      min-height: 100vh;
      div{
        padding: 5px;
        input{
          padding: 10px;
          margin: 3px 15px 3px 15px;
        }
      }
      .name-field{
        align-self: flex-start;
        input{
          width: 25vw;
        }
      }
      .style-field{
        align-self: flex-start;
        position: relative;
        left: 1vw;
      }
      .desc-field{
        // align-self: flex-start;
        margin: 20px;
        input{
          width: 80vw;
          margin: 3px;
        }
      }
      button{
        padding: 10px;
        margin: 5px;
        font-size: 20px;
      }
    }

  }

//   ////// Recipe pages
  .lacto-recipe, .beer-recipe{
    padding: 3%;
    text-align: left;
    margin: 20px 5vw;
    .recipe-head{
      font-size: 24px;
      margin: 25px;
      h1{
        position: relative;
        top: -30px;
        font-size: 32px;
      }
    }
    .recipe-body{
      font-size: 20px;
    }
    h3, h4, h5 {
      font-size: 28px;
      margin: 15px;
    }
    p{
      margin: 5px 0px 10px 0px;
    }
  }

